In [1]:
import pandas as pd;

zbior = pd.DataFrame();
print(zbior);

Empty DataFrame
Columns: []
Index: []

In [2]:
lista = [1,2,7,9]
print(pd.DataFrame(lista));

   0
0  1
1  2
2  7
3  9

In [3]:
lista = [[1,2,7,9],[11,22,77,99]]
df = pd.DataFrame(lista)
df.columns = ['A', 'B', 'C', 'D']
print(df)

    A   B   C   D
0   1   2   7   9
1  11  22  77  99

In [4]:
slownik = {'Imie':['Julia','Michał','Wojtek'], 'Wiek':[18,25,30]}
print ( pd.DataFrame(slownik) )

     Imie  Wiek
0   Julia    18
1  Michał    25
2  Wojtek    30

In [5]:
s = pd.Series([11,22,33,44])
print(s)

0    11
1    22
2    33
3    44
dtype: int64

In [6]:
pd.DataFrame(s)

    0
0  11
1  22
2  33
3  44

In [7]:
df = pd.read_csv('dane.csv',delimiter = ",")
print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'dane.csv'

In [ ]:
df = pd.read_csv('dane.csv', index_col='x')
print(df)

In [ ]:
funkcje = pd.read_excel('dane1.xlsx') 
print(funkcje)

     X   Y    Z
0    1   2   -1
1    2   4    2
2    3   6    7
3    4   8   14
4    5  10   23
5    6  12   34
6    7  14   47
7    8  16   62
8    9  18   79
9   10  20   98
10  11  22  119
11  12  24  142
12  13  26  167
13  14  28  194
14  15  30  223
15  16  32  254
16  17  34  287
17  18  36  322
18  19  38  359

In [ ]:
osoby = pd.read_excel('dane1.xlsx',sheet_name='Arkusz2', header=1)
print(osoby)

     Nazwisko        Imię  Rok urodzenia Miejsce urodzenia
0        NOWAK      PIOTR           1976         Nowy Sącz
1     KOWALSKI      JÓZEF           1999           Krynica
2   WIŚNIEWSKI  STANISŁAW           1985            Tarnów
3       WÓJCIK     MICHAŁ           1979            Kraków
4    KOWALCZYK  KRZYSZTOF           2001           Brzesko
5     KAMIŃSKI      PAWEŁ           1995           Bochnia
6  LEWANDOWSKI       ADAM           1984         Nowy Sącz
7    ZIELIŃSKI     TOMASZ           2004            Tarnów
8      WOŹNIAK    ANDRZEJ           1991           Bochnia
9    SZYMAŃSKI     ANTONI           2000           Krynica

In [ ]:
osoby = pd.read_excel('dane1.xlsx',sheet_name='Arkusz3',header=None, names=['Nazw', 'Im',
'Rok','Miejsce'])
print(osoby)

           Nazw         Im            Rok            Miejsce
0     Nazwisko        Imię  Rok urodzenia  Miejsce urodzenia
1         NOWAK      PIOTR           1976          Nowy Sącz
2      KOWALSKI      JÓZEF           1999            Krynica
3    WIŚNIEWSKI  STANISŁAW           1985             Tarnów
4        WÓJCIK     MICHAŁ           1979             Kraków
5     KOWALCZYK  KRZYSZTOF           2001            Brzesko
6      KAMIŃSKI      PAWEŁ           1995            Bochnia
7   LEWANDOWSKI       ADAM           1984          Nowy Sącz
8     ZIELIŃSKI     TOMASZ           2004             Tarnów
9       WOŹNIAK    ANDRZEJ           1991            Bochnia
10    SZYMAŃSKI     ANTONI           2000            Krynica

In [ ]:
osoby = pd.read_excel('dane1.xlsx',sheet_name='Arkusz3',header=1, names=['Nazw', 'Im', 'Rok','Miejsce'])
print(osoby)

          Nazw         Im   Rok    Miejsce
0     KOWALSKI      JÓZEF  1999    Krynica
1   WIŚNIEWSKI  STANISŁAW  1985     Tarnów
2       WÓJCIK     MICHAŁ  1979     Kraków
3    KOWALCZYK  KRZYSZTOF  2001    Brzesko
4     KAMIŃSKI      PAWEŁ  1995    Bochnia
5  LEWANDOWSKI       ADAM  1984  Nowy Sącz
6    ZIELIŃSKI     TOMASZ  2004     Tarnów
7      WOŹNIAK    ANDRZEJ  1991    Bochnia
8    SZYMAŃSKI     ANTONI  2000    Krynica

In [ ]:
osoby.head()

         Nazw         Im   Rok  Miejsce
0    KOWALSKI      JÓZEF  1999  Krynica
1  WIŚNIEWSKI  STANISŁAW  1985   Tarnów
2      WÓJCIK     MICHAŁ  1979   Kraków
3   KOWALCZYK  KRZYSZTOF  2001  Brzesko
4    KAMIŃSKI      PAWEŁ  1995  Bochnia

In [ ]:
osoby.tail()

          Nazw       Im   Rok    Miejsce
4     KAMIŃSKI    PAWEŁ  1995    Bochnia
5  LEWANDOWSKI     ADAM  1984  Nowy Sącz
6    ZIELIŃSKI   TOMASZ  2004     Tarnów
7      WOŹNIAK  ANDRZEJ  1991    Bochnia
8    SZYMAŃSKI   ANTONI  2000    Krynica

In [ ]:
osoby['Nazw']
#lub
osoby.Nazw

0       KOWALSKI
1     WIŚNIEWSKI
2         WÓJCIK
3      KOWALCZYK
4       KAMIŃSKI
5    LEWANDOWSKI
6      ZIELIŃSKI
7        WOŹNIAK
8      SZYMAŃSKI
Name: Nazw, dtype: object

In [ ]:
osoby.Miejsce.unique()

array(['Krynica', 'Tarnów', 'Kraków', 'Brzesko', 'Bochnia', 'Nowy Sącz'],
      dtype=object)

In [ ]:
osoby.Miejsce.duplicated().sum()

3

In [ ]:
osoby.isnull().sum()

Nazw       0
Im         0
Rok        0
Miejsce    0
dtype: int64

In [ ]:
osoby.notnull().sum()

Nazw       9
Im         9
Rok        9
Miejsce    9
dtype: int64

In [ ]:
oceny = pd.read_excel('dane1.xlsx',sheet_name='Arkusz4',header=1, names=['Przedmiot', 'Ocena'])
print(oceny)

   Przedmiot  Ocena
0         jp    4.0
1        mat    3.0
2         wf    2.0
3         bd    2.0
4         jp    4.0
5        mat    4.5
6         wf    5.0
7         bd    3.5
8         jp    3.0
9        mat    2.0
10        wf    4.5
11        bd    2.0
12        jp    4.0
13       mat    4.5
14        wf    5.0
15        bd    4.5
16        jp    5.0
17       mat    3.5
18        wf    3.0
19        bd    2.0
20        jp    5.0
21       mat    4.0
22        wf    3.0

In [ ]:
oceny.groupby('Przedmiot').count()

           Ocena
Przedmiot
bd             5
jp             6
mat            6
wf             6

In [ ]:
oceny.groupby('Przedmiot').mean()
#lub
oceny.groupby('Przedmiot').Ocena.mean()

Przedmiot
bd     2.800000
jp     4.166667
mat    3.583333
wf     3.750000
Name: Ocena, dtype: float64

In [ ]:
oceny.groupby(['Przedmiot','Ocena']).Ocena.count()

Przedmiot  Ocena
bd         2.0      3
           3.5      1
           4.5      1
jp         3.0      1
           4.0      3
           5.0      2
mat        2.0      1
           3.0      1
           3.5      1
           4.0      1
           4.5      2
wf         2.0      1
           3.0      2
           4.5      1
           5.0      2
Name: Ocena, dtype: int64

In [ ]:
oceny.groupby('Przedmiot').agg({'Ocena':['min','max']})

          Ocena
            min  max
Przedmiot
bd          2.0  4.5
jp          3.0  5.0
mat         2.0  4.5
wf          2.0  5.0

In [ ]:
oceny.groupby('Przedmiot').agg(Najniższa_ocena=('Ocena','min'),Najwyższa_ocena=('Ocena','max'))

           Najniższa_ocena  Najwyższa_ocena
Przedmiot
bd                     2.0              4.5
jp                     3.0              5.0
mat                    2.0              4.5
wf                     2.0              5.0

In [ ]:
oceny[oceny['Ocena'] >
2.0].groupby('Przedmiot').agg(Najniższa_ocena=('Ocena','min'),Najwyższa_ocena=('Ocena','max'))

           Najniższa_ocena  Najwyższa_ocena
Przedmiot
bd                     3.5              4.5
jp                     3.0              5.0
mat                    3.0              4.5
wf                     3.0              5.0

In [8]:
#Zadanie

#matura = pd.read_excel('srednie_wyniki_egzaminu_maturalnego.xlsx');
#print(matura);                       

matura = pd.read_excel('C:\Python\Scripts\egzamin.xlsx',sheet_name='dane');
#print(matura) 

matura.head()


#matura.przedmiot.unique()
#matura.przedmiot.count()

matura.groupby('przedmiot').count()

In [ ]:
matura.groupby('plec').count()

,nazwa_zmiennej,rodzaj_egzaminu,poziom_egzaminu,przedmiot,typ_informacji_z_jednostka_miary,rok,wartosc,flaga
plec,,,,,,,,
kobiety,294,294,294,294,294,294,280,16
mężczyźni,294,294,294,294,294,294,280,19
ogółem,294,294,294,294,294,294,280,15

In [ ]:
matura.groupby(['rodzaj_egzaminu','plec','rok']).count()

                                nazwa_zmiennej  poziom_egzaminu  przedmiot  \
rodzaj_egzaminu plec      rok
pisemny         kobiety   2015              35               35         35
                          2016              35               35         35
                          2017              35               35         35
                          2018              35               35         35
                          2019              35               35         35
                          2020              35               35         35
                          2021              35               35         35
                mężczyźni 2015              35               35         35
                          2016              35               35         35
                          2017              35               35         35
                          2018              35               35         35
                          2019              35               35         35
                          2020              35               35         35
                          2021              35               35         35
                ogółem    2015              35               35         35
                          2016              35               35         35
                          2017              35               35         35
                          2018              35               35         35
                          2019              35               35         35
                          2020              35               35         35
                          2021              35               35         35
ustny           kobiety   2015               7                7          7
                          2016               7                7          7
                          2017               7                7          7
                          2018               7                7          7
                          2019               7                7          7
                          2020               7                7          7
                          2021               7                7          7
                mężczyźni 2015               7                7          7
                          2016               7                7          7
                          2017               7                7          7
                          2018               7                7          7
                          2019               7                7          7
                          2020               7                7          7
                          2021               7                7          7
                ogółem    2015               7                7          7
                          2016               7                7          7
                          2017               7                7          7
                          2018               7                7          7
                          2019               7                7          7
                          2020               7                7          7
                          2021               7                7          7

                                typ_informacji_z_jednostka_miary  wartosc  \
rodzaj_egzaminu plec      rok
pisemny         kobiety   2015                                35       35
                          2016                                35       35
                          2017                                35       35
                          2018                                35       35
                          2019                                35       35
                          2020                                35       35
                          2021                                35       35
                mężczyźni 2015                                35       35
                          2016                                35       35
                          2017                                35       35
                          2018                                35       35
                          2019                                35       35
                          2020                                35       35
                          2021                                35       35
                ogółem    2015                                35       35
                          2016                                35       35
                          2017                                35       35
                          2018                                35       35
                          2019                                35       35
                          2020                                35       35
                          2021                                35       35
ustny           kobiety   2015                                 7        7
                          2016                                 7        7
                          2017                                 7        7
                          2018                                 7        7
                          2019                                 7        7
                          2020                                 7        0
                          2021                                 7        0
                mężczyźni 2015                                 7        7
                          2016                                 7        7
                          2017                                 7        7
                          2018                                 7        7
                          2019                                 7        7
                          2020                                 7        0
                          2021                                 7        0
                ogółem    2015                                 7        7
                          2016                                 7        7
                          2017                                 7        7
                          2018                                 7        7
                          2019                                 7        7
                          2020                                 7        0
                          2021                                 7        0

                                flaga
rodzaj_egzaminu plec      rok
pisemny         kobiety   2015      0
                          2016      0
                          2017      0
                          2018      1
                          2019      0
                          2020      1
                          2021      0
                mężczyźni 2015      1
                          2016      1
                          2017      1
                          2018      0
                          2019      0
                          2020      1
                          2021      1
                ogółem    2015      0
                          2016      0
                          2017      0
                          2018      0
                          2019      0
                          2020      1
                          2021      0
ustny           kobiety   2015      0
                          2016      0
                          2017      0
                          2018      0
                          2019      0
                          2020      7
                          2021      7
                mężczyźni 2015      0
                          2016      0
                          2017      0
                          2018      0
                          2019      0
                          2020      7
                          2021      7
                ogółem    2015      0
                          2016      0
                          2017      0
                          2018      0
                          2019      0
                          2020      7
                          2021      7

In [ ]:
matura.groupby('przedmiot').agg(Przedmiot=('wartosc','min'), Przedmiot2=('wartosc','max'))

                                   Przedmiot  Przedmiot2
przedmiot
biologia                           31.668606   46.509937
chemia                             33.276668   54.491118
filozofia                          29.008000   64.207407
fizyka                             34.217838   45.707864
geografia                          20.323817   42.339883
historia                           30.914324   51.698505
historia muzyki                    34.876712   63.776536
historia sztuki                    34.182677   50.097150
informatyka                        28.626237   46.677306
język angielski                    55.049830   78.201854
język białoruski                   59.650794  100.000000
język francuski                    57.877934   84.652406
język hiszpański                   50.923077   83.912088
język kaszubski                    30.500000   75.500000
język litewski                     65.857143   90.909091
język niemiecki                    53.357005   73.019976
język polski                       44.870349   68.289088
język rosyjski                     56.566038   77.400810
język ukraiński                    60.250000   98.250000
język włoski                       65.857143   83.632653
język łaciński i kultura antyczna  45.489933   71.341463
język łemkowski                     0.000000   95.000000
matematyka                         26.801389   58.789662
wiedza o społeczeństwie            24.732741   32.519789

In [ ]:
matura[matura['przedmiot'] != 'język rosyjski'].groupby('przedmiot').agg(Min=('wartosc','min'), Max=('wartosc','max'))

                                         Min         Max
przedmiot
biologia                           31.668606   46.509937
chemia                             33.276668   54.491118
filozofia                          29.008000   64.207407
fizyka                             34.217838   45.707864
geografia                          20.323817   42.339883
historia                           30.914324   51.698505
historia muzyki                    34.876712   63.776536
historia sztuki                    34.182677   50.097150
informatyka                        28.626237   46.677306
język angielski                    55.049830   78.201854
język białoruski                   59.650794  100.000000
język francuski                    57.877934   84.652406
język hiszpański                   50.923077   83.912088
język kaszubski                    30.500000   75.500000
język litewski                     65.857143   90.909091
język niemiecki                    53.357005   73.019976
język polski                       44.870349   68.289088
język ukraiński                    60.250000   98.250000
język włoski                       65.857143   83.632653
język łaciński i kultura antyczna  45.489933   71.341463
język łemkowski                     0.000000   95.000000
matematyka                         26.801389   58.789662
wiedza o społeczeństwie            24.732741   32.519789